.hud
	-border: 4px solid #fff
	//position: fixed
	text-align: center
	display: inline-block
	margin-left: $size_small
	span
		margin-left: $size_small
		font-size: $size_small
		vertical-align: baseline

.hud-0
	@extend .hud
	background-color: #fff
	//bottom: $size_base - .25rem
	//left: $size_small * 3 + $size_normal

	padding: $size_normal
	//@include border-radius($size_normal * 2 + 1rem)

	.hud-icon
		color: lighten(#383838,10%)

.hud-1
	@extend .hud
	@extend .bg-4
	//bottom: $size_base * 1.1 + $size_normal * 2 + $size_normal
	//left: $size_base - .25rem

	padding: $size_normal
	//@include border-radius($size_small * 2 + 1rem)
	color: #fff

.hud-2
	display: block
	background-color: #66b8a5

	margin-bottom: $size_base

.hud-3
	@extend .hud
	font-size: $size_small
	margin: 0 $size_jumbo

.hud-icon
	display: inline-block !important

	//width: 1rem !important
	height: 1rem !important

	color: #fff

.hud-animate
	-webkit-animation: squish 1s ease
