@include keyframes(squish)
	0%
		-webkit-transform: scale(0.9,1.25) translate(0,-4em)
	40%
		-webkit-transform: scale(0.75,1.5) translate(0,-1em)
	45%
		-webkit-transform: scale(1.5,0.75) translate(0,-0.1em)
	//ground
	50%
		-webkit-transform: scale(2,0.5) translate(0,0.5em)
	//bounce up
	65%
		-webkit-transform: scale(0.9,1.25) translate(0,-0.5em)
	70%
		-webkit-transform: scale(1.25,0.9) translate(0,0)
	//ground
	75%
		-webkit-transform: scale(1.5,0.75) translate(0,0.5em)
	80%
		-webkit-transform: scale(1, 1) translate(0,0)

@include keyframes(shrink)
	0%
		-webkit-transform: scale3d(1, 1, 1) translate3d(0, 0, 0) rotate3d(0,0,0,0)
	100%
		-webkit-transform: scale3d(0.5, 0.5, 1) translate3d(0, 0.25em, 0) rotate3d(0, 0.5, 0.5, -45deg)

@include keyframes(grow)
	0%
		-webkit-transform: scale3d(2, 2, 1) translate3d(0, 0)
	100%
		-webkit-transform: scale3d(3, 3, 1) translate3d(0,-0.25em, 2em)
